<div class="container">
  <br>
  <h3>Declaració responsable <small>generada per la Covid-19</small></h3>
  <hr>
  <form ngNativeValidate autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

    <div class="form-group row">
      <label class="col-2 col-form-label">Nom i cognoms <span class="text-danger">*</span></label>
      <div class="col">
        <input class="form-control"
               type="text"
               placeholder="Nom i cognoms"
               formControlName="nombre"
               [class.is-invalid]="nombreNoValido">
        <small *ngIf="nombreNoValido" class="text-danger">
          Cal inserir, com a mínim, 4 caràcters
        </small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Equip <span class="text-danger">*</span></label>
      <div class="col">
        <select class="form-control"
                formControlName="equipo"
                [class.is-invalid]="equipoNoValido">
          <option [ngValue]="null" disabled>Escull el teu equip</option>
          <option *ngFor="let equipo of equipos" [ngValue]="equipo"> {{ equipo.nombre }}</option>
        </select>
        <small *ngIf="equipoNoValido" class="text-danger">
          Cal escollir un equip
        </small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">&nbsp;</label>
      <div class="input-group col">
        <button type="submit" class="btn btn-outline-primary btn-block">
          Enviar
        </button>
      </div>
    </div>

  </form>
</div>
